@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f0852a;
}
body {
  font-family: 'Cairo', sans-serif;
}

html[lang="ar"] {
  direction: rtl;
  text-align: right;
}

html[lang="en"] {
  direction: ltr;
  text-align: left;
}

/* input-field */
.input-field {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}

/* btn-primary */
.btn-primary {
  background-color: #f0852a;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  text-align: center;
}

html, body, #root {
    overflow-x: hidden;
}

.pagination .active {
    @apply bg-primary text-white rounded-lg;
}

/* For Desktop */
@media (min-width: 768px) {
  .product-item:hover .product-actions {
    opacity: 1;
  }
}

